/* ----- Main part ----- */
.waybar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bg-waybar);
  backdrop-filter: blur(8px);
  padding: 8px 20px;
  font-size: 0.85rem;
  color: var(--text-color);
  z-index: 1000;
}

.group-left,
.group-right {
  flex: 1;
}

/* ----- Left part ----- */
.group-left {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.burger {
  display: flex;
  z-index: 1001;
  position: relative;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}

.burger.open #burger-top {
  transform: translateY(8px) rotate(45deg);
}
.burger.open #burger-center {
  opacity: 0;
}
.burger.open #burger-bottom {
  transform: translateY(-8px) rotate(-45deg);
}

/* ----- Middle part ----- */
.group-center {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* ----- Right part ----- */
.group-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.toggle-theme {
  display: flex;
  color: var(--text-color);
  background-color: var(--bg-tertiary);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.time-display {
  display: flex;
  margin: 0;
  background: var(--bg-tertiary);
  padding: 4px 12px;
  border-radius: 20px;
  cursor: default;
  user-select: none;
  justify-content: center;
  align-items: center;
}

/* ----- Mobile ----- */
@media screen and (max-width: 600px) {
  .group-center {
    display: none;
  }
  .group-right {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .time-display {
    order: -1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .toggle-theme {
    margin-left: auto;
  }
}
