.window {
  background-color: #fff;
  border-radius: 12px;
  width: 80%;
  max-width: 800px;
  margin: 10% auto;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.window-header {
  background: #f3f4f6;
  padding: 8px 15px;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-content {
  padding: 40px;
}

.hero-text {
  font-size: 3rem;
  color: var(--secondary-color);
  margin: 0;
}

.label {
  color: var(--secondary-color);
  font-weight: bold;
}
