<div id="projects">
  <main class="workspace">
    <!-- Floating window -->
    <section class="window active">
      <header class="window-header">
        <span class="title">intro</span>
      </header>

      <article class="window-content">
        <h1 class="hero-text">Franck S.</h1>
        <p class="subtitle">Frontend Developer</p>
        <div class="stats">
          <p><span class="label">OS:</span> Arch</p>
          <p><span class="label">STACK:</span> Angular</p>
        </div>
      </article>
    </section>
  </main>
</div>
